@tailwind base;
@tailwind components;
@tailwind utilities;

@html{
    font-family:  "Inter"
  }  

@font-face {
    font-family: "Inter";
    src: url('../../public/assets/font/Inter-VariableFont_slnt\,wght.ttf') format("truetype");
  }